NIM_BASE_URL=http://nim-service.nim-system.svc.cluster.local:8000/v1
NIM_API_KEY=nim-local-key
NIM_MODEL=meta/llama-3.2-1b-instruct
TICKETMATE_PORT=8080
TICKETMATE_AGENT_MAX_TURNS=4
TICKETMATE_DISABLE_OPENAI_AGENT_TRACING=false
